<!--
  Details for each event
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <div class="list card">

      <div class="item">
        <h2>{{chat.name}}</h2>
        <p>{{chat.start_at}} to {{chat.end_at}}</p>
        <p>{{chat.location}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="img/{{chat.image_name}}.jpg" err-SRC="img/cherryfestivalplaceholder.jpg">
        <p>
          {{chat.description}}
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
