<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <div class="list card">

      <div class="item">
        <h2>{{chat.name}}</h2>
        <p>{{chat.start_at.substring('2015-04-11'.length)}} to {{chat.end_at.substring('2015-04-11'.length)}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="img/{{chat.image_name}}.jpg" err-SRC="img/cherryfestivalplaceholder.jpg">
        <p>
          {{chat.description}}
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
