<ion-view view-title="Schedule">
  <ion-content>
    <div class="list card">

      <a href="#/tab/schedule1" class="item">
        Saturday April 9
      </a>

      <a href="#/tab/schedule2" class="item">
        Sunday April 10
      </a>

      <a href="#/tab/schedule3" class="item">
        Saturday April 16
      </a>

      <a href="#/tab/schedule4" class="item">
        Sunday April 17
      </a>

      <a href="#/tab/jcccnc" class="item">
        Japanese Cultural and Community Center of Northern California
      </a>

      <a href="#/tab/kabuki" class="item">
        Kabuki Cinemas
      </a>

      <a href="#/tab/konko" class="item">
        Konko Church
      </a>

      <a href="#/tab/peace" class="item">
        Peace Plaza Stage
      </a>

      <a href="#/tab/sakura" class="item">
        Sakura 360
      </a>

    </div>
  </ion-content>
</ion-view>