<ion-view view-title="Events">
  <ion-content>
    <ion-list>
      <ion-slide-box on-slide-changed="slideHasChanged($index)">

          <ion-slide>
            <div>
              <div class="item item-divider">Saturday April 9, 2016</div>
              <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {start_at: '2016-04-09'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-09 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-09 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
            </div>
          </ion-slide>

          <ion-slide>
            <div>
              <div class="item item-divider">Sunday April 10, 2016</div>
              <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {start_at: '2016-04-10'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-10 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-10 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
            </div>
          </ion-slide>

          <ion-slide>
             <div>
              <div class="item item-divider">Saturday April 16, 2016</div>
              <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {start_at: '2016-04-16'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-16 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-16 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                </div>
              </ion-item>
             </div>
          </ion-slide>

          <ion-slide>
             <div>
              <div class="item item-divider">Sunday April 17, 2016</div>
              <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {start_at: '2016-04-17'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-17 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-17 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
             </div>
          </ion-slide>

      </ion-slide-box>
    </ion-list>
  </ion-content>
</ion-view>