<ion-view view-title="Events">
  <ion-content>
    <ion-list>
      <ion-slide-box on-slide-changed="slideHasChanged($index)">

          <ion-slide>
            <div>
              <div class="item item-divider">Saturday April 11, 2015</div>
              <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {start_at: '2015-04-11'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2015-04-11 '.length)}}</p>
                    <p>{{chat.end_at.substring('2015-04-11 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
            </div>
          </ion-slide>

          <ion-slide>
            <div>
              <div class="item item-divider">Sunday April 12, 2015</div>
              <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {start_at: '2015-04-12'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2015-04-12 '.length)}}</p>
                    <p>{{chat.end_at.substring('2015-04-12 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
            </div>
          </ion-slide>

          <ion-slide>
             <div>
              <div class="item item-divider">Saturday April 18, 2015</div>
              <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {start_at: '2015-04-18'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2015-04-18 '.length)}}</p>
                    <p>{{chat.end_at.substring('2015-04-18 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                </div>
              </ion-item>
             </div>
          </ion-slide>

          <ion-slide>
             <div>
              <div class="item item-divider">Sunday April 19, 2015</div>
              <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {start_at: '2015-04-19'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2015-04-19 '.length)}}</p>
                    <p>{{chat.end_at.substring('2015-04-19 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
             </div>
          </ion-slide>

      </ion-slide-box>
    </ion-list>
  </ion-content>
</ion-view>