<ion-view view-title="Welcome">
  <ion-content class="padding">
 <!--    <div class="list card">

      <div class="item item-avatar">
        <img src="avatar.jpg">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </div>

      <div class="item item-image">
        <img src="cover.jpg">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i>
        Start listening
      </a>

    </div> -->
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/cherrylogo.png" alt="">
        <h2>Cherry Blossom Festival</h2>
        <p>April 9-10, 16-17, 2016</p>
      </div>
      <div class="item item-body">
        <img src="img/cherryblossominfo.jpg" class="full-image" alt="">
        <p>The 2016 Northern California Cherry Blossom Festival® will celebrate its 49th year, is one of California’s most prominent celebrations of Asian traditions. Each year, over 200,000 people attend this dazzling display showcasing the color and grace of the Japanese culture and the diversity of the Japanese American Community.</p>
      </div>
  <!--     <div class="item item-image">
        <img src="img/cherryblossominfo.jpg" alt="">
      </div> -->
    </div>
    <p>

    </p>
<!--     <p>
      The 2016 Northern California Cherry Blossom Festival® will be held on <strong>Saturday and Sunday April 9-10</strong> and <strong>April 16-17, 2016</strong>. All are welcome to join in the festivities as we celebrate Japanese and Japanese American culture in San Francisco’s Japantown!
    </p> -->
    <div class="list card">
      <a href="https://www.google.com/maps/place/Japantown,+San+Francisco,+CA/@37.7853928,-122.499423,12z/data=!4m2!3m1!1s0x808580bf2ab76475:0x1c82fe532473cbc2" onclick="window.open(this.href, '_system'); return false;" onkeypress="window.open(this.href); return false;" class="item item-icon-left">
        <i class="icon ion-navigate"></i>
        Navigate to Japantown
      </a>
    </div>
    <div class="list card">
      <a href="https://www.google.com/maps/@37.7854317,-122.4296986,18z/data=!3m1!4b1!4m2!6m1!1szlSwiFTHOyt0.ke1i_koDdf1Q" onclick="window.open(this.href, '_system'); return false;" onkeypress="window.open(this.href); return false;" class="item item-icon-left">
        <i class="icon ion-map"></i>
        Festival Map
      </a>
    </div>

  </ion-content>
</ion-view>
