<!--
  Social menu
-->

<ion-view view-title="Social">
  <ion-content>
    <div class="list card">
      <a href="https://www.facebook.com/NCCBF/?fref=ts" onclick="window.open(this.href, '_system'); return false;" onkeypress="window.open(this.href, '_system'); return false;" class="item item-icon-left">
        <i class="icon ion-social-facebook"></i>Facebook
      </a>
      <a href="https://twitter.com/nc_cbf" onclick="window.open(this.href, '_system'); return false;" onkeypress="window.open(this.href, '_system'); return false;" class="item item-icon-left">
        <i class="icon ion-social-twitter"></i>Twitter
      </a>
      <a href="http://www.ustream.tv/channel/nccbf-tv" onclick="window.open(this.href, '_system'); return false;" onkeypress="window.open(this.href, '_system'); return false;" class="item item-icon-left">
        <i class="icon ion-videocamera"></i>Ustream
      </a>
    </div>
  </ion-content>
</ion-view>

