<!--
  Tabs
-->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Schedules Tab -->
  <ion-tab title="Schedule" icon-off="ion-android-calendar" icon-on="ion-android-calendar" href="#/tab/menu">
    <ion-nav-view name="tab-menu"></ion-nav-view>
  </ion-tab>

  <!-- Social Tab -->
  <ion-tab title="Social" icon-off="ion-android-share-alt" icon-on="ion-android-share-alt" href="#/tab/social">
    <ion-nav-view name="tab-social"></ion-nav-view>
  </ion-tab>


</ion-tabs>
