<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.myproject854454" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Cherry Blossom Festival 2016</name>
  <description>
    The official Android app for the Northern California Cherry Blossom Festival.

    The 2016 Northern California Cherry Blossom Festival now celebrating its 49th year, is one of California’s most prominent celebrations of Asian traditions. Each year, over 200,000 people attend this dazzling display showcasing the color and grace of the Japanese culture and the diversity of the Japanese American Community.

    The event is free and open to the public. Vendors will be charging for their food goods and some retail products; and some specialized events will require a fee.
    </description>
  <author email="stevensm90@gmail.com" href="https://suntorytime.github.io/">
      Steven Santa-Maria
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <icon src="icons/android/cherrylogo.png" />
</widget>