<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Cherry Blossom Festival 2016</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
<script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
<!-- <script src="cordova.js"></script> -->

    <!-- your app's js -->
    <script src="lib/ionic/js/angular/angular-sanitize.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="lib/moment.js"></script>
    <script src="lib/angular-moment.min.js"></script>


  </head>
  <body ng-app="starter">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar bar-header bar-assertive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>

    <!-- Event schedules -->

    <script id="templates/schedule1.html" type="text/ng-template">
      <ion-view view-title="Schedule">
        <ion-content class="padding">
          <ion-list>
            <div class="item item-divider">Saturday April 9, 2016</div>
            <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {start_at: '2016-04-09'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
              <div class="row">
                <div class="col">
                  <p>{{chat.start_at.substring('2016-04-09 '.length)}}</p>
                  <p>{{chat.end_at.substring('2016-04-09 '.length)}}</p>
                </div>
                <div class="col col-75">
                  <h2>{{chat.name}}</h2>
                  <p>{{chat.location}}</p></div>
                </div>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
          </div>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/schedule2.html" type="text/ng-template">
      <ion-view view-title="Schedule">
        <ion-content class="padding">
          <ion-list>
            <div class="item item-divider">Sunday April 10, 2016</div>
            <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {start_at: '2016-04-10'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
              <div class="row">
                <div class="col">
                  <p>{{chat.start_at.substring('2016-04-10 '.length)}}</p>
                  <p>{{chat.end_at.substring('2016-04-10 '.length)}}</p>
                </div>
                <div class="col col-75">
                  <h2>{{chat.name}}</h2>
                  <p>{{chat.location}}</p></div>
                </div>
              </div>
              <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/schedule3.html" type="text/ng-template">
      <ion-view view-title="Schedule">
        <ion-content class="padding">
          <ion-list>
             <div class="item item-divider">Saturday April 16, 2016</div>
             <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {start_at: '2016-04-16'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
               <div class="row">
                 <div class="col">
                   <p>{{chat.start_at.substring('2016-04-16 '.length)}}</p>
                   <p>{{chat.end_at.substring('2016-04-16 '.length)}}</p>
                 </div>
                 <div class="col col-75">
                   <h2>{{chat.name}}</h2>
                   <p>{{chat.location}}</p></div>
                 </div>
               </div>
             </ion-item>
            </div>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/schedule4.html" type="text/ng-template">
      <ion-view view-title="Schedule">
        <ion-content class="padding">
          <ion-list>
           <div class="item item-divider">Sunday April 17, 2016</div>
           <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {start_at: '2016-04-17'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
               <div class="row">
                 <div class="col">
                   <p>{{chat.start_at.substring('2016-04-17 '.length)}}</p>
                   <p>{{chat.end_at.substring('2016-04-17 '.length)}}</p>
                 </div>
                 <div class="col col-75">
                   <h2>{{chat.name}}</h2>
                   <p>{{chat.location}}</p></div>
                 </div>
                 <i class="icon ion-chevron-right icon-accessory"></i>
               </div>
             </ion-item>
            </div>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <!-- JCCCNC -->

    <script id="templates/jcccnc.html" type="text/ng-template">
      <ion-view view-title="Japanese Cultural and Community Center of Northern California">
        <ion-content class="padding">
          <ion-list>

            <div class="item item-divider">Saturday April 9, 2016</div>
            <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'JCCCNC'} | filter: {start_at: '2016-04-09'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-09 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-09 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
             </div>

           <div class="item item-divider">Sunday April 10, 2016</div>
            <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'JCCCNC'} | filter: {start_at: '2016-04-10'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-10 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-10 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
             </div>

             <div class="item item-divider">Saturday April 16, 2016</div>
              <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'JCCCNC'} | filter: {start_at: '2016-04-16'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                  <div class="row">
                    <div class="col">
                      <p>{{chat.start_at.substring('2016-04-16 '.length)}}</p>
                      <p>{{chat.end_at.substring('2016-04-16 '.length)}}</p>
                    </div>
                    <div class="col col-75">
                      <h2>{{chat.name}}</h2>
                      <p>{{chat.location}}</p></div>
                    </div>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                  </div>
                </ion-item>
               </div>

               <div class="item item-divider">Sunday April 17, 2016</div>
                <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'JCCCNC'} | filter: {start_at: '2016-04-17'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                    <div class="row">
                      <div class="col">
                        <p>{{chat.start_at.substring('2016-04-17 '.length)}}</p>
                        <p>{{chat.end_at.substring('2016-04-17 '.length)}}</p>
                      </div>
                      <div class="col col-75">
                        <h2>{{chat.name}}</h2>
                        <p>{{chat.location}}</p></div>
                      </div>
                      <i class="icon ion-chevron-right icon-accessory"></i>
                    </div>
                  </ion-item>
                 </div>

          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <!-- End JCCCNC -->

    <!-- Kabuki Cinemas -->

    <script id="templates/kabuki.html" type="text/ng-template">
      <ion-view view-title="Kabuki Cinemas">
        <ion-content class="padding">
          <ion-list>

            <div class="item item-divider">Saturday April 9, 2016</div>
            <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Kabuki'} | filter: {start_at: '2016-04-09'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-09 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-09 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
             </div>

           <div class="item item-divider">Sunday April 10, 2016</div>
            <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Kabuki'} | filter: {start_at: '2016-04-10'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-10 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-10 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
             </div>

             <div class="item item-divider">Saturday April 16, 2016</div>
              <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Kabuki'} | filter: {start_at: '2016-04-16'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                  <div class="row">
                    <div class="col">
                      <p>{{chat.start_at.substring('2016-04-16 '.length)}}</p>
                      <p>{{chat.end_at.substring('2016-04-16 '.length)}}</p>
                    </div>
                    <div class="col col-75">
                      <h2>{{chat.name}}</h2>
                      <p>{{chat.location}}</p></div>
                    </div>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                  </div>
                </ion-item>
               </div>

               <div class="item item-divider">Sunday April 17, 2016</div>
                <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Kabuki'} | filter: {start_at: '2016-04-17'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                    <div class="row">
                      <div class="col">
                        <p>{{chat.start_at.substring('2016-04-17 '.length)}}</p>
                        <p>{{chat.end_at.substring('2016-04-17 '.length)}}</p>
                      </div>
                      <div class="col col-75">
                        <h2>{{chat.name}}</h2>
                        <p>{{chat.location}}</p></div>
                      </div>
                      <i class="icon ion-chevron-right icon-accessory"></i>
                    </div>
                  </ion-item>
                 </div>

          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <!-- End Kabuki Cinemas -->

    <!-- Konko Church -->

    <script id="templates/konko.html" type="text/ng-template">
      <ion-view view-title="Konko Church">
        <ion-content class="padding">
          <ion-list>

            <div class="item item-divider">Saturday April 9, 2016</div>
            <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'konko'} | filter: {start_at: '2016-04-09'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-09 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-09 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
             </div>

           <div class="item item-divider">Sunday April 10, 2016</div>
            <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'konko'} | filter: {start_at: '2016-04-10'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-10 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-10 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
             </div>

             <div class="item item-divider">Saturday April 16, 2016</div>
              <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'konko'} | filter: {start_at: '2016-04-16'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                  <div class="row">
                    <div class="col">
                      <p>{{chat.start_at.substring('2016-04-16 '.length)}}</p>
                      <p>{{chat.end_at.substring('2016-04-16 '.length)}}</p>
                    </div>
                    <div class="col col-75">
                      <h2>{{chat.name}}</h2>
                      <p>{{chat.location}}</p></div>
                    </div>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                  </div>
                </ion-item>
               </div>

               <div class="item item-divider">Sunday April 17, 2016</div>
                <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'konko'} | filter: {start_at: '2016-04-17'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                    <div class="row">
                      <div class="col">
                        <p>{{chat.start_at.substring('2016-04-17 '.length)}}</p>
                        <p>{{chat.end_at.substring('2016-04-17 '.length)}}</p>
                      </div>
                      <div class="col col-75">
                        <h2>{{chat.name}}</h2>
                        <p>{{chat.location}}</p></div>
                      </div>
                      <i class="icon ion-chevron-right icon-accessory"></i>
                    </div>
                  </ion-item>
                 </div>

          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <!-- End Konko Church -->

    <!-- Peace Plaza Stage -->

    <script id="templates/peace.html" type="text/ng-template">
      <ion-view view-title="Peace Plaza Stage">
        <ion-content class="padding">
          <ion-list>

            <div class="item item-divider">Saturday April 9, 2016</div>
            <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'peace'} | filter: {start_at: '2016-04-09'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-09 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-09 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
             </div>

           <div class="item item-divider">Sunday April 10, 2016</div>
            <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'peace'} | filter: {start_at: '2016-04-10'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-10 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-10 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
             </div>

             <div class="item item-divider">Saturday April 16, 2016</div>
              <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'peace'} | filter: {start_at: '2016-04-16'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                  <div class="row">
                    <div class="col">
                      <p>{{chat.start_at.substring('2016-04-16 '.length)}}</p>
                      <p>{{chat.end_at.substring('2016-04-16 '.length)}}</p>
                    </div>
                    <div class="col col-75">
                      <h2>{{chat.name}}</h2>
                      <p>{{chat.location}}</p></div>
                    </div>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                  </div>
                </ion-item>
               </div>

               <div class="item item-divider">Sunday April 17, 2016</div>
                <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'peace'} | filter: {start_at: '2016-04-17'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                    <div class="row">
                      <div class="col">
                        <p>{{chat.start_at.substring('2016-04-17 '.length)}}</p>
                        <p>{{chat.end_at.substring('2016-04-17 '.length)}}</p>
                      </div>
                      <div class="col col-75">
                        <h2>{{chat.name}}</h2>
                        <p>{{chat.location}}</p></div>
                      </div>
                      <i class="icon ion-chevron-right icon-accessory"></i>
                    </div>
                  </ion-item>
                 </div>

          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <!-- End Peace Plaza Stage -->

    <!-- Sakura 360 -->

    <script id="templates/sakura.html" type="text/ng-template">
      <ion-view view-title="Sakura 360">
        <ion-content class="padding">
          <ion-list>

            <div class="item item-divider">Saturday April 9, 2016</div>
            <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Sakura 360'} | filter: {start_at: '2016-04-09'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-09 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-09 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
             </div>

           <div class="item item-divider">Sunday April 10, 2016</div>
            <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Sakura 360'} | filter: {start_at: '2016-04-10'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-10 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-10 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
             </div>

             <div class="item item-divider">Saturday April 16, 2016</div>
              <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Sakura 360'} | filter: {start_at: '2016-04-16'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                  <div class="row">
                    <div class="col">
                      <p>{{chat.start_at.substring('2016-04-16 '.length)}}</p>
                      <p>{{chat.end_at.substring('2016-04-16 '.length)}}</p>
                    </div>
                    <div class="col col-75">
                      <h2>{{chat.name}}</h2>
                      <p>{{chat.location}}</p></div>
                    </div>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                  </div>
                </ion-item>
               </div>

               <div class="item item-divider">Sunday April 17, 2016</div>
                <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Sakura 360'} | filter: {start_at: '2016-04-17'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                    <div class="row">
                      <div class="col">
                        <p>{{chat.start_at.substring('2016-04-17 '.length)}}</p>
                        <p>{{chat.end_at.substring('2016-04-17 '.length)}}</p>
                      </div>
                      <div class="col col-75">
                        <h2>{{chat.name}}</h2>
                        <p>{{chat.location}}</p></div>
                      </div>
                      <i class="icon ion-chevron-right icon-accessory"></i>
                    </div>
                  </ion-item>
                 </div>

          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <!-- End Sakura 360 -->

    <!-- Tateuchi Auditorium -->

    <script id="templates/tateuchi.html" type="text/ng-template">
      <ion-view view-title="Tateuchi Auditorium">
        <ion-content class="padding">
          <ion-list>

            <div class="item item-divider">Saturday April 9, 2016</div>
            <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Tateuchi Auditorium'} | filter: {start_at: '2016-04-09'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-09 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-09 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
             </div>

           <div class="item item-divider">Sunday April 10, 2016</div>
            <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Tateuchi Auditorium'} | filter: {start_at: '2016-04-10'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-10 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-10 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
             </div>

             <div class="item item-divider">Saturday April 16, 2016</div>
              <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Tateuchi Auditorium'} | filter: {start_at: '2016-04-16'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                  <div class="row">
                    <div class="col">
                      <p>{{chat.start_at.substring('2016-04-16 '.length)}}</p>
                      <p>{{chat.end_at.substring('2016-04-16 '.length)}}</p>
                    </div>
                    <div class="col col-75">
                      <h2>{{chat.name}}</h2>
                      <p>{{chat.location}}</p></div>
                    </div>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                  </div>
                </ion-item>
               </div>

               <div class="item item-divider">Sunday April 17, 2016</div>
                <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Tateuchi Auditorium'} | filter: {start_at: '2016-04-17'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                    <div class="row">
                      <div class="col">
                        <p>{{chat.start_at.substring('2016-04-17 '.length)}}</p>
                        <p>{{chat.end_at.substring('2016-04-17 '.length)}}</p>
                      </div>
                      <div class="col col-75">
                        <h2>{{chat.name}}</h2>
                        <p>{{chat.location}}</p></div>
                      </div>
                      <i class="icon ion-chevron-right icon-accessory"></i>
                    </div>
                  </ion-item>
                 </div>

          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <!-- End Tateuchi Auditorium -->

    <!-- Union Bank Community Room -->

    <script id="templates/union.html" type="text/ng-template">
      <ion-view view-title="Union Bank Community Room">
        <ion-content class="padding">
          <ion-list>

            <div class="item item-divider">Saturday April 9, 2016</div>
            <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Union Bank Community Room'} | filter: {start_at: '2016-04-09'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-09 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-09 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
             </div>

           <div class="item item-divider">Sunday April 10, 2016</div>
            <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Union Bank Community Room'} | filter: {start_at: '2016-04-10'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-10 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-10 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
             </div>

             <div class="item item-divider">Saturday April 16, 2016</div>
              <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Union Bank Community Room'} | filter: {start_at: '2016-04-16'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                  <div class="row">
                    <div class="col">
                      <p>{{chat.start_at.substring('2016-04-16 '.length)}}</p>
                      <p>{{chat.end_at.substring('2016-04-16 '.length)}}</p>
                    </div>
                    <div class="col col-75">
                      <h2>{{chat.name}}</h2>
                      <p>{{chat.location}}</p></div>
                    </div>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                  </div>
                </ion-item>
               </div>

               <div class="item item-divider">Sunday April 17, 2016</div>
                <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Union Bank Community Room'} | filter: {start_at: '2016-04-17'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                    <div class="row">
                      <div class="col">
                        <p>{{chat.start_at.substring('2016-04-17 '.length)}}</p>
                        <p>{{chat.end_at.substring('2016-04-17 '.length)}}</p>
                      </div>
                      <div class="col col-75">
                        <h2>{{chat.name}}</h2>
                        <p>{{chat.location}}</p></div>
                      </div>
                      <i class="icon ion-chevron-right icon-accessory"></i>
                    </div>
                  </ion-item>
                 </div>

          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <!-- End Union Bank Community Room -->

    <!-- Webster -->

    <script id="templates/webster.html" type="text/ng-template">
      <ion-view view-title="Webster Street Stage">
        <ion-content class="padding">
          <ion-list>

            <div class="item item-divider">Saturday April 9, 2016</div>
            <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Webster'} | filter: {start_at: '2016-04-09'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-09 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-09 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
             </div>

           <div class="item item-divider">Sunday April 10, 2016</div>
            <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Webster'} | filter: {start_at: '2016-04-10'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                <div class="row">
                  <div class="col">
                    <p>{{chat.start_at.substring('2016-04-10 '.length)}}</p>
                    <p>{{chat.end_at.substring('2016-04-10 '.length)}}</p>
                  </div>
                  <div class="col col-75">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.location}}</p></div>
                  </div>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
             </div>

             <div class="item item-divider">Saturday April 16, 2016</div>
              <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Webster'} | filter: {start_at: '2016-04-16'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                  <div class="row">
                    <div class="col">
                      <p>{{chat.start_at.substring('2016-04-16 '.length)}}</p>
                      <p>{{chat.end_at.substring('2016-04-16 '.length)}}</p>
                    </div>
                    <div class="col col-75">
                      <h2>{{chat.name}}</h2>
                      <p>{{chat.location}}</p></div>
                    </div>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                  </div>
                </ion-item>
               </div>

               <div class="item item-divider">Sunday April 17, 2016</div>
                <ion-item class="item-icon-right" ng-repeat="chat in chats | orderBy: 'start_at' | filter: {location: 'Webster'} | filter: {start_at: '2016-04-17'}" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
                    <div class="row">
                      <div class="col">
                        <p>{{chat.start_at.substring('2016-04-17 '.length)}}</p>
                        <p>{{chat.end_at.substring('2016-04-17 '.length)}}</p>
                      </div>
                      <div class="col col-75">
                        <h2>{{chat.name}}</h2>
                        <p>{{chat.location}}</p></div>
                      </div>
                      <i class="icon ion-chevron-right icon-accessory"></i>
                    </div>
                  </ion-item>
                 </div>

          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <!-- End Webster -->

    <!-- End of event schedules -->

  </body>
</html>
